<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heima.article.mapper.ApArticleMapper">

    <select id="selectListWith" resultType="apArticle">
        select a.*
        from ap_article a
        left join ap_article_config ac
        on a.id = ac.article_id
        <where>
            <if test="articleHomeDto.tag != null and articleHomeDto.tag != '__all__'">
                a.channel_id = #{articleHomeDto.tag}
            </if>
            and ac.is_delete = 0
            and ac.is_down = 0
            <if test="loadType != null and loadType == 1">
                and a.publish_time &lt; #{articleHomeDto.minBehotTime}
            </if>

            <if test="loadType != null and loadType ==2">
                and a.publish_time &gt; #{articleHomeDto.maxBehotTime}
            </if>
        </where>
        order by a.publish_time desc
        limit #{articleHomeDto.size};

    </select>
    <select id="findArticleListByLast5days" resultType="apArticle">
        select a.*
        from ap_article a
        left join ap_article_config ac
        on a.id = ac.article_id
        <where>
            and ac.is_delete = 0
            and ac.is_down = 0
            <if test="dayParam != null">
                and a.publish_time &lt; #{dayParam}
            </if>
        </where>
    </select>
</mapper>
